@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --azulprincipal: #4472CA;
    --preto: #1E1E24;
    --branco: #FDFFFC;  
    --fundos: #8da8d9bc;
    --fonte01: 'Sansation';
    --fonte02: 'Vend Sans'
}

header {
  background-color: white;
  margin: auto;
  min-height: 100px;
  box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.252);
}

header > h1 {
    font-family: 'Zalando Sans Expanded';
    text-align: center;
    text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.281);
    color: #4472CA; 
    padding-top: 40px;  
    margin: 0px;
    font-size: clamp(3vw, 4vh, 5vh);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    margin-bottom: 20px;
   
}

nav {
    background-color: #2a467a;
    padding: 6px;
}

nav p {
    text-align: center;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: clamp(12px, 2vw, 17px);
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 1.5px;
    padding-left: 1.5px;
}

nav a:hover {
    background-color: white;
    color: #2a467a;
    transition-duration: 0.5s;
}

a#tel {
    text-shadow: none;
}

body {
    background-color: #95a2b8a4;
    margin: 0px;
}

main {
    background-color: white;
    border-radius: 5px;
    max-width: 1000px;
    margin: auto;
}

main p {
    text-align: center;
    max-width: 600px;
    padding: 0px 20px 0px 20px;
    font-family: 'Vend Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: auto; 
    font-size: clamp(2vw, 2.5vh, 3vh);
    background-color: #4473ca1b;
    color: rgba(81, 81, 81, 0.956);
}

main > p {
    margin: auto;
}

article > p > a {
    text-align: center;
    max-width: 600px;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    font-family: 'Vend Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: auto; 
    font-size: clamp(2vw, 2.5vh, 3vh);
    color: rgba(81, 81, 81, 0.956);
}

article > p > a:hover {
    color: rgba(59, 59, 59, 0.956);
    text-decoration: none;
}

article img {
    
    display: block;
    padding: 30px;
    max-width: 100%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    
}

article > h2 {
    margin: 0px;
    padding: 20px 0px 20px 20px;
    max-width: 100px;
    border-radius: 0px 0px 5px 5px;
}

footer {
    background-color: #2a467a;
}

footer p {
    font-family: 'Zalando Sans Expanded';
    font-size: clamp(12px, 2vw, 17px);
    line-height: 35px;
    text-align: center;
    color: white; 
    margin: 0px;
}

footer a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer a:hover {
    background-color: white;
    color: #2a467a;
    transition-duration: 0.5s;
}


