@charset "UTF-8";   
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    --fonte01: 'Vend Sans'
}
header {
  background-color: rgba(232, 232, 25, 0.738);
  margin: auto;
  min-height: 100px;
  box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.252);
}
header > h1 {
    font-family: 'Zalando Sans Expanded';
    text-align: center;
    text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.281);
    color: white; 
    padding-top: 40px;  
    margin: 0px;
    font-size: clamp(3vw, 4vh, 5vh);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
nav {
    background-color: #2a467a;
    padding: 6px;
}
nav p {
    font-size: clamp(0.5em, 1em, 5em);
    text-align: center;
    color: white;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2vw, 17px);
    padding-right: 1.5px;
    padding-left: 1.5px;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}
a:hover {
    background-color: white;
    color: #2a467a;
    transition-duration: 0.5s;
}
body {
    background-color: white;
    margin: 0px;
}
article p {
    max-width: 600px;
    padding: 0px 20px 0px 20px;
    font-family: var(--fonte01);
    font-weight: 700;
    margin: auto; 
    font-size: clamp(1.8vw, 2.3vh, 3vh);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4473ca1b;
    color: rgba(81, 81, 81, 0.956);
}
main {
    text-align: justify;
    background-color: white;
    border-radius: 5px;
    max-width: 1000px;
   
    margin: auto;
}
main > p {
    margin: auto;
}

section {
    background-color: #2a467a;
    color: white;
    max-width: 150px;
    border-radius: 0px 0px 50px 50px;
}
section > h2 {
    margin: 0px;
    text-align: center;
}
article img {
    display: block;
    padding: 30px;
    max-width: 500;
    margin: auto;
}
article > h2 {
    margin: 0px;
    padding: 20px 0px 20px 20px;
    max-width: 100px;
    border-radius: 0px 0px 5px 5px;
}
