@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    /*  Tons de Azul */
    --h1header: #4472CA;
    --backnavefooter: #2a467a;
    --backp: #4473ca1b;
    --mainp: rgba(81, 81, 81, 0.956);
    --articlepa: rgba(81, 81, 81, 0.956);
    --articlepahover: rgba(59, 59, 59, 0.956);
    --backbody: #95a2b8a4;
    /* Tons de preto */
    --p: rgba(81, 81, 81, 0.956);
    --ahover: rgba(59, 59, 59, 0.956);
    --headershadow: rgba(0, 0, 0, 0.252);
    --textshadow: rgba(0, 0, 0, 0.281);
    /* Tons de Amarelo */
    --amarelo: rgb(242, 242, 71);
    /* Fontes */
    --fonteheaderh1: 'Zalando Sans Expanded';
    --fontefooterp: 'Zalando Sans Expanded';
    --fontemainp: 'Vend Sans';
    --fontearticlepa: 'Vend Sans';
    --fontenava: 'Arial, Helvetica, sans-serif';
}

header {
  background-color: white;
  margin: auto;
  min-height: 100px;
  box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.252);
}

header > h1 {
    font-family: var(--fonteheaderh1);
    text-align: center;
    text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.281);
    color: var(--h1header); 
    padding-top: 40px;  
    margin: 0px;
    font-size: clamp(3vw, 4vh, 5vh);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    margin-bottom: 20px;
   
}

nav {
    background-color: var(--backnavefooter);
    padding: 6px;
}

nav p {
    text-align: center;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: clamp(12px, 2vw, 17px);
    font-family: var(--fontenava);
    padding-right: 1.5px;
    padding-left: 1.5px;
}

nav a:hover {
    background-color: white;
    color: var(--backnavefooter);
    transition-duration: 0.5s;
}

a#tel {
    text-shadow: none;
}

body {
    background-color: var(--backbody);
    margin: 0px;
}

main {
    background-color: white;
    border-radius: 5px;
    max-width: 1000px;
    margin: auto;
}

main p {
    text-align: center;
    max-width: 600px;
    padding: 0px 20px 0px 20px;
    font-family: var(--fontemainp);
    font-weight: 700;
    margin: auto; 
    font-size: clamp(2vw, 2.5vh, 3vh);
    background-color: var(--backp);
    color: var(--mainp);
}

main > p {
    margin: auto;
}

article > p > a {
    text-align: center;
    max-width: 600px;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    font-family: var(--fontearticlepa);
    font-weight: 700;
    margin: auto; 
    font-size: clamp(2vw, 2.5vh, 3vh);
    color: var(--articlepa);
}

article > p > a:hover {
    color: var(--articlepahover);
    text-decoration: none;
}

article img {
    
    display: block;
    padding: 30px;
    max-width: 100%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    
}

article > h2 {
    margin: 0px;
    padding: 20px 0px 20px 20px;
    max-width: 100px;
    border-radius: 0px 0px 5px 5px;
}

footer {
    background-color: var(--backnavefooter);
}

footer p {
    font-family: var(--fontefooterp);
    font-size: clamp(12px, 2vw, 17px);
    line-height: 35px;
    text-align: center;
    color: white; 
    margin: 0px;
}

footer a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer a:hover {
    background-color: white;
    color: var(--backnavefooter);
    transition-duration: 0.5s;
}


